@import url('https://fonts.cdnfonts.com/css/product-sans');
@import "tailwindcss";

@theme {
  --font-sans: "Product Sans", "Google Sans", system-ui, sans-serif;
  --font-mono: "Product Sans", "Google Sans", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  touch-action: none;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .8;
    }
  }
}
